#results {
  float: left;
}

body {
  background: linear-gradient(0deg, rgba(0,128,128,1) 0%, rgba(153,218,255,1) 100%) no-repeat;
  height: 2224px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}
